.err {
	font-weight: bold;
}

.welcome {
	white-space: nowrap;
}

.form-control {
	font-size: 1.1em!important;
}

@media (min-width: 992px) {
	.fixed-lg{
		width: 720px;
	}
}

@media (max-width: 575.98px) { 
	
	.fs-s-lg {
		font-size: 4vh;
		margin-bottom: 0;
		font-weight: 0;
	}

	.fs-lg {
		font-size: 3.2vh;
		margin-bottom: 0;
		font-weight: 0;
	}

	.fs-md {
		font-size: 2.5vh;
		margin-bottom: 0;
		font-weight: 0;
	}

	.fs-sm {
		font-size: 2vh;
		margin-bottom: 0;
		font-weight: 0;
	}

	.fs-xs {
		font-size: 1.5vh;
		margin-bottom: 0;
		font-weight: 0;
	}

	.mx-4 {
		margin-left: 0!important;
		margin-right: 0!important;
	}

	.sm-top {
		margin-top: 0!important;
	}

}